.body {
  text-decoration: solid;
  color: rgb(255, 255, 255);
}

#score {
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
}
.player {
  height: 100%;
  width: 35%;
  border: 1;
  float: left;
}
img {
  /* padding-left: 120px; */
  padding-top: 50px;
}
button {
  background-color: white;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
.cntSpc {
  height: 100%;
  width: 30%;
  border: 1;
  float: left;
  color: white;
}
.comp {
  height: 100%;
  width: 35%;
  border: 1;
  float: left;
  color: white;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

#play-again {
  visibility: hidden;
  position: absolute;
  left: 43%;
  top: 65%;
}

img{
  border-radius: 7px;
}
